<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Редактировать Тему</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/discussions/{id}(id = ${discussion.id})}" th:object="${discussion}">
    <label for="username">Имя пользователя: </label><input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="topic">Тема: </label><input type="text" width="40px" th:field="*{topic}" id="topic"/>
    <input type="submit" value="Сохранить изменения"/>
</form>
</body>
</html>