<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${discussion.getTopic()}"></title>
</head>
<body>
<b th:text="${'<'+discussion.getUsername()+'>:' +discussion.getTopic()}"/>
<!--<p th:text=""/>-->
<table>
    <tr th:each="comment : ${comments}">
        <td th:text="${'<'+comment.getUsername()+'>:'}"></td>
        <td th:text="${comment.getComment()}"></td>
    </tr>
</table>
<a href="/discussions">Назад</a>
</body>
</html>