<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${discussion.getTopic()}"></title>
</head>
<body>
<b th:text="${'<'+discussion.username+'>:' +discussion.topic}"/>
<p th:text="${discussion.text}"/>
<hr/>
<table>
    <tr th:each="comment : ${comments}">
        <td th:text="${'<'+comment.username+'>:'}"></td>
        <td th:text="${comment.comment}"></td>
    </tr>

</table>
<a href="/discussions">Назад</a>
</body>
</html>